<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<style>

    a {
        color: black;
        border : 1px solid silver;
    }

</style>
<body>
<a href="/"><h1>홈</h1></a>
<a href="/sign-main">회원가입</a> <br>
<a href="/login-main">로그인</a> <br>
<a href="/board-main">게시판</a>
</body>
</html>